body {
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  background-image: url("../images/image.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; 
   margin: auto;
  width: 35%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
   margin: auto;
  width: 35%;
}